ZERODHA_API_KEY=
ZERODHA_API_SECRET=
ZERODHA_USER_ID=
ZERODHA_PASSWORD=
ZERODHA_TOTP_SECRET=
ZERODHA_ACCESS_TOKEN=

GG_API_KEY=

# Telegram Bots
# 01_EQFNO
01_TELEGRAM_BOT_TOKEN=
# 02_Scanner
02_TELEGRAM_BOT_TOKEN=
# 03_Ni50_M150_Nx50
03_TELEGRAM_BOT_TOKEN=

# For 01_EQFNO
TELEGRAM_CHAT_IDS_01=
TELEGRAM_CHAT_IDS_02=
TELEGRAM_CHAT_IDS_03=
TELEGRAM_CHAT_IDS_04=
TELEGRAM_CHAT_IDS_05=

# For 03_Ni50_M150_Nx50
TELEGRAM_CHAT_ID_01=
TELEGRAM_CHAT_ID_02=
TELEGRAM_CHAT_ID_03=
TELEGRAM_CHAT_ID_04=
TELEGRAM_CHAT_ID_05=
TELEGRAM_CHAT_ID_06=
TELEGRAM_CHAT_ID_07=
TELEGRAM_CHAT_ID_08=
